Nombre de la receta: <input type="text" (input)="onChange($event)" />

<div *ngFor="let receta of recetas">
  <h2>
    {{receta.title}}
  </h2>
  <p>{{receta.ingredients}}</p>
  <a href="{{receta.href}}">Leer la receta</a>
</div>

